body {
	margin: 0;
	padding: 0;
	background-color: #cfcfcf;
}

ul { list-style-type: none; }

.wrapper {
	width: 725px;
	padding: 20px;
	margin: 75px auto 0;
	background-color: #fff;
	text-transform: capitalize;
	font: 25px sans-serif;
}

button {
	padding: 15px;
	border: none;
	border-radius: 10px;
	color: #fff;
	background-color: #42f4b9;
	text-transform: capitalize;
	cursor:pointer;
}

.button {
	width: 665px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.slide-expand-up {
	align-self: flex-start;
	position: relative;
	top: 0;
	transition: 2s;
}

.slide-expand-up:hover {
	top: -100px;
	transform-origin: bottom;
	transform: scaleY(2.3);
}

.expand-up { transition: 2s; }

.expand-up:hover {
	transform-origin: bottom;
	transform: scaleY(2.3);
}

.bounce{ animation: bounce 1s infinite ease-out; }

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-100px);
	}

	100% {
		transform: translateY(0);
	}
}

.pulse { animation: pulse 0.5s alternate infinite linear }

@keyframes pulse {
	0%{ transform: scale(1); }
	100%{ transform: scale(1.5); }
}

.floating {
	position: relative;
	top: 55px;
	animation: float 1.25s ease-in-out alternate infinite;
}

@keyframes float {
	0% {
		transform: translateX(-220px);
	}
	100% {
		transform: translateX(220px);
	}
}

.tossing {
	position: relative;
	bottom: 0;
	animation: tossing 1s linear alternate infinite;
}

@keyframes tossing {
	to{
		transform: rotateX(360deg);
		bottom: 100px;
	}
}

.stretch-left {
	transition: 3s;
}

.stretch-left:hover {
	transform-origin: right;
	transform: scale(2,0.5);
}

.stretch-right {
	transition: 3s;
}

.stretch-right:hover {
	transform-origin: left;
	transform: scale(2,0.5);
}