@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html,
   body,
   div,
   span,
   applet,
   object,
   iframe,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   blockquote,
   pre,
   a,
   abbr,
   acronym,
   address,
   big,
   cite,
   code,
   del,
   dfn,
   em,
   img,
   ins,
   kbd,
   q,
   s,
   samp,
   small,
   strike,
   strong,
   sub,
   sup,
   tt,
   var,
   b,
   u,
   i,
   center,
   dl,
   dt,
   dd,
   ol,
   ul,
   li,
   fieldset,
   form,
   label,
   legend,
   table,
   caption,
   tbody,
   tfoot,
   thead,
   tr,
   th,
   td,
   article,
   aside,
   canvas,
   details,
   embed,
   figure,
   figcaption,
   footer,
   header,
   hgroup,
   menu,
   nav,
   output,
   ruby,
   section,
   summary,
   time,
   mark,
   audio,
   video {
   	padding: 0;
   	margin: 0;

   	font: inherit;
   	font-size: 100%;

   	vertical-align: baseline;

   	border: 0;
   }

   /* HTML5 display-role reset for older browsers */
   article,
   aside,
   details,
   figcaption,
   figure,
   footer,
   header,
   hgroup,
   menu,
   nav,
   section {
   	display: block;
   }

   /* Force scrollbar */
   html {
   	overflow-y: scroll;
   }

   /* Align radios and text inputs with their label */

   input[type="radio"] {
   	vertical-align: text-bottom;
   }

   /* Hand cursor on clickable input elements */
   label,
   input[type="button"],
   input[type="submit"],
   button 
   a {
   	cursor: pointer;
   }

   strong {
   	font-family: inherit;
   	font-size: inherit;
   	font-weight: bold;
   }

   em {
   	font-style: italic;
   }

   img {
   	vertical-align: middle;

   	border: 0;
   }

   sub,
   sup {
   	position: relative;

   	font-size: 55%;
   	line-height: 0;

   	vertical-align: baseline;
   }

   sup {
   	top: -.7em;
   }

   sub {
   	bottom: -.25em;
   }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
	display: table;

	content: " ";
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
 	font-family: "Futura Bold", "Gill Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
 	font-style: normal;
 	font-weight: bold;
 }

 /**** CSS ****/
 
 a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
}

a:hover {
  text-decoration: underline;
}

ul { list-style-type: none; }

.wrapper {
  width: 80.66%;
  margin: 0 auto;
}

h2::first-letter {
  text-transform: uppercase;
}

p::first-letter {
  text-transform: uppercase;
}

h3::first-letter {
  text-transform: uppercase;
}

h4::first-letter {
  text-transform: uppercase;
}

header {
  padding-top: 66px;
  background-image: url(../images/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 a { display: block; }

.banner-content {
  margin-top: 14%;
  padding-bottom: 30.2%;
}

.banner-content h2 {
  color:  #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;/* Approximation due to font substitution */
  font-weight: 300;
}


.banner-content p {
  width: 52.5%;
  padding-top: 21px;
  color:  #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;/* Approximation due to font substitution */
  font-weight: 400;
  line-height: 24px;/* Approximation due to font substitution */
}

.block-1 { margin-top: 56.5px; }

.block-1 h2 {
  color:  #222626;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;/* Approximation due to font substitution */
  font-weight: 300;
  line-height: 24px;/* Approximation due to font substitution */
}

.start-content {
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 48.46%;
  color:  #959595;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;/* Approximation due to font substitution */
  font-weight: 400;
  line-height: 24px;/* Approximation due to font substitution */
}

.right {
  width: 48.86%;
  padding-top: 8%;
  position: relative;
  color:  #959595;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;/* Approximation due to font substitution */
  font-weight: 400;
  line-height: 24px;/* Approximation due to font substitution */
}

.right p {
  padding-bottom: 10px;
}

.left p {
  padding-bottom: 10px;
}

.right img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 83%;
}

.block-2 { margin-top: 83px; }

.block-2 .wrapper {
  margin-top: 83px;
  display: flex;
  flex-wrap: wrap;
}

.design-quality,
.built-2-last,
.our-client,
.perfect-pictures { width: 28.66%; }

.block-2 h3 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;/* Approximation due to font substitution */
  font-weight: 300;
}

.block-2 p {
  padding-top: 24px;
  color:  #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;/* Approximation due to font substitution */
  font-weight: 400;
  line-height: 24px;/* Approximation due to font substitution */
  text-align: left;
}

.block-2 a {
  margin-top: 40px;
  display: inline-block;
  color: #fff;
  font-size: 14px;/* Approximation due to font substitution */
  font-weight: 700;
  line-height: 24px;/* Approximation due to font substitution */
}

.design-quality {
  padding: 51px 0 56px 43px;
  background-color: #f5989d;
}

.built-2-last {
  padding: 51px 0 56px 43px;
  background-color: #615f7d;
}

.our-client {
  padding: 51px 0 56px 43px;
  background-image: url(../images/layer6.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.signup {
  padding: 51px 0 56px 43px;
  background-image: url(../images/layer5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.signup p { width: 54.75%; }

.perfect-pictures {
  padding: 51px 0 56px 43px;
  background-color: #82ca9c;
}

.heart-align {
  display: flex;
  justify-content: space-between;
}

.heart-align:last-child {
  margin-right: 43px;
}

.block-3 { padding: 97px 0 97px; }

.block-3 h2 {
  color:  #222626;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;/* Approximation due to font substitution */
  font-weight: 300;
  line-height: 24px;/* Approximation due to font substitution */
}

.details {
  padding-top: 68px;
  display: flex;
  justify-content: space-between;
  color:  #959595;
  font-family: OpenSans;
  font-size: 14px;/* Approximation due to font substitution */
  font-weight: 400;
  line-height: 24px;/* Approximation due to font substitution */
}

.details h4 {
  color:  #66676d;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;/* Approximation due to font substitution */
  font-weight: 600;
  line-height: 24px;/* Approximation due to font substitution */
}

.details li { width: 24%; }

.details p { padding-top: 28px; }

.plans {
  padding: 64.5px 0 64.5px;
  background-color: #f6f7fa;
}

.plans .wrapper {
  padding: 64.5px 0 64.5px;
  display: flex;
  justify-content: space-between;
}

.sub h4 {
  width: 77px;
  height: 24px;
  border-radius: 5px;
  
  color:  #fff;
  font-size: 11px;/* Approximation due to font substitution */
  font-weight: 700;
  line-height: 22px;/* Approximation due to font substitution */
  text-align: center;
  background-color:  #e1e1e1;
}

.sub {
  width: 47.5%;
  padding: 55px 54px;
}

.sub h3 {
  padding: 23px 0;
  font-family: 'Open Sans', sans-serif;
  color:  #2e3b4e;
  font-size: 30px;/* Approximation due to font substitution */
  font-weight: 300;
  line-height: 40px;/* Approximation due to font substitution */
  text-align: left;
  transform: scaleY(1.0012);/* width and height properties ommitted due to transform */
}

.sub p {
  padding-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  color:  #8297a7;
  font-size: 14px;/* Approximation due to font substitution */
  font-weight: 400;
  line-height: 25px;/* Approximation due to font substitution */
  text-align: left;
  transform: scaleY(1.0012);/* width and height properties ommitted due to transform */
}

.team { background-color: #fff; }

.team h4 { background-color:  #bd8cbf; }

.compatible {
  width: 56px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.sub a {
  width: 151px;
  padding: 19px 0;
  text-align: center;
  display: block;
  border-radius: 3px;
  color: #fff;
  background-color:  #82ca9c;
}

.sub a:hover { text-decoration: none; }