section {
	width: 47.5%;
}

.section-2 {
	margin: 0;
}

.section-3 {
	clear: both;
	float: none;
	width: auto;
}

@media screen and (max-width: 500px) {
	section {
		width: auto;
		float: none;
		margin-right: 0;
	}
}