a {
	text-decoration: none;
	text-align: center;
	color: #fff;
	display: block;
	padding: 10px;
}

ul { list-style-type: none; }

ul {
	-webkit-display: flex;
	-moz-display: flex;
	-o-display: flex;
	-ms-display: flex;
	display: flex;
}

.nav {
	background: #333;
}

.nav a:hover {
	background: #555;
}

ul li {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;

	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	-ms-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

.nav-1 li:hover {
	-webkit-transform: rotateX(360deg);
	-moz-transform: rotateX(360deg);
	-o-transform: rotateX(360deg);
	-ms-transform: rotateX(360deg);
	transform: rotateX(360deg);
}

.nav-2 li:hover {
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	transform: rotateY(360deg);
}

.nav-3 li:hover {
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-o-transform: scale(1.05,1.05);
	-ms-transform: scale(1.05,1.05);
	transform: scale(1.05,1.05);
}

